
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* overflow-y: hidden; */
}
#navbar1>div>ul{
    width: 800px;
    margin: auto;
    display: flex;
 
    list-style: none;
    height: 28px;
    /* border: 1px solid black; */
    background-color: white;
    justify-content: space-between;
    font-size: 13px;
    font-weight:700;
    color: rgb(147, 142, 142);
    align-items: center;
}
#navbar1>div>ul>li:nth-child(1){
    color: black;
}
#navbar1>div{
    border: 1px solid rgb(147, 142, 142);
    border-width: 0.8px 0;   
}
#navbar2>div{
        display: flex;
        width: 60%;
        margin: 15px auto;
        /* border: 1px solid red; */
        justify-content: space-between;
        font-size: 27px;
       height: 70px;
       
}
#newsnavbar>p:hover{
    color: rgb(231, 231, 86);
}
#newsnavbar>p{
    cursor: pointer;
}
#newsnavbarimg{
    cursor: pointer;
}

#navbar1{
    background-color: white;
    /* position: absolute; */
}
#navbar2{
    background-color: white;
    color: gray;
}
#navbar2>div>img{
    width: 100%;
  
}
#navbar2>div>p:nth-child(2)::before{

 width: 8px;
 height: 8px;
 border-radius: 100%;
 background: #c00;
 display: inline-block;
 position: relative;
 top: -5px;
 left: -5px;
 box-shadow: 0 0 0 rgb(214 2 12 / 80%);
 border-radius: 50%;
 background: #c00;
 animation: pulse 1.7s infinite;
 animation-duration: 1.7s;
 animation-timing-function: ease;
 animation-delay: 0s;
 animation-iteration-count: infinite;
 animation-direction: normal;
 animation-fill-mode: none;
 animation-play-state: running;
 animation-name: pulse;
 content: "";

}

/* ---------------------------------- */


@media all and (min-width:893px){
    #sidebarMenu{
        display: flex;
        /* border: 1px solid red; */
        background-color: #a00606;
    }
    #sidebarMenu>ul{
        display: flex;
        /* border: 1px solid red; */
        margin: auto;
        list-style: none;
        justify-content: space-between;
        border-right: 1px solid gray;
        text-decoration: none;
       
    }
    #sidebarMenu>ul>li{
        border-right: 1px solid black;
        
        /* margin: 5px; 
         */
         margin: 0 5px;
        padding: 10px;
        color: white;
    }
    #sidebarMenu>ul>li a:hover{
        color: #f9c106;
    }
    #sidebarMenu>ul>li:nth-child(2) a{
        color: #f9c106;
    }
    #sidebarMenu>ul>li:nth-child(9) a{
        color: #f9c106;
    }
    #sidebarMenu>ul>li>a{
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
    #openSidebarMenu{
        display: none;
    } 
    #navbar2>div{
       
        width: 60%;
        margin: 15px auto;
        /* border: 1px solid red; */
        justify-content: space-between;
        font-size: 19px;
   
       
        }
   

}

/* javaScript work */
#mainGrid{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
#big>div>div>img{
    /* border: 1px solid red; */
   
}
#big>div>div>img:hover{
    zoom: 1.1;
    transform: scaleX(1);
    transition: 600ms;
}
#big>div>div{
    overflow: hidden;
    text-align: justify;
    cursor: pointer;
    margin-right: 20px;
 
    
}
.imgdiv{
    overflow: hidden;
    width: 170px;
    height: 96px;
}
.titlediv{
    font-weight: bold;
    font-size: 18px;
}
.paradiv{
margin-top: 5px;
}
#big>div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* gap: 20px; */
    margin-bottom: 30px;
}

#buttondiv{
    /* border: 1px solid red; */
    width: 430px;
   
    margin: 40px auto;
}
#buttondiv>button{
    background-color: #ffffff;
    margin: 3px;
    padding: 8px 10px;
    border: 1px solid gray;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
}
#buttondiv>button:hover{
    background-color: #d71920;
    color: white;
}
#buttondiv>button:nth-child(1){
    background-color: #d71920;
    color: white;
}
#footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    overflow: scroll;
    width: 100%;
}
#footerBar{
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: auto ;
    /* margin: auto; */
    background-color: black;
    align-items: center;
    color: white;
    margin: 40px auto;
    width: 100%;

}
#footerBar>div ul, li{
    /* border: 1px solid red; */
    /* height: 0%; */
    display: flex;
    text-decoration: none;
    margin: 10px;
}
#footerBar>div {
    /* display: inline; */
    padding: 0 5%;
  
   
}
#footercontext{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    margin: auto;
    font-size: 12px;
    justify-content: space-between;
    /* border: 1px solid red; */
}
#footercontext p{
    color: gray;
}
#AppDownload{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}
#AppDownload>img{
    margin-right: 10px;
}
.paralast{
    text-align: center;
    margin-bottom: 2px;
    font-size: 14px;
}
.copyright{
    text-align: center;
    font-size: 11px;
}

.smallHead{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    /* border: 1px solid red; */
    padding: -10px, 0;
}
#small .titleHead{
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px ;
    color: #bb0a0a;
    text-align: left;
    display: flex;
    align-items: center;
}

#small{
    border: 2px solid rgb(245,245,245);
}
#small .paradiv:hover{
    color: #004994;
}

#small>div>div>img:hover{
    zoom: 1.1;
    transform: scaleX(1);
    transition: 600ms;
}
#small>div>div{
    overflow: hidden;
    /* text-align: justify; */
    cursor: pointer;
    margin-right: 20px;
}
#small .imgdiv{
    overflow: hidden;
    width: 88px;
    height: 50px;
}
#small>div{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    border-bottom: 2px solid rgb(245,245,245);
    font-weight: 600;
    font-size: 16px;
}
#small .smallHead>.emptyHead{
    height: 8px;
    background-color: rgb(245,245,245);
    /* border: 1px solid red; */
    /* margin: auto; */
    width: 120%;
}
#small>div:nth-child(1){
    text-align: center;
    margin-top: 20px;
    font-size: 11px;
    border: 1px solid gray;
    line-height: 0;
    height: 400px;
    display: flex;
    flex-direction: column;
}
#small>div:nth-child(1)>img{
    width: 70%;
    height: 80%;
    padding: 20px;
    background-color: rgb(245,245,245);
    cursor: pointer;
    margin: auto;
    margin-top: -10px;
}
li{
    cursor: pointer;
}
#sidebarMenu>ul>li:hover{
    color: rgb(16, 41, 41);
}


/* @media all and (min-width:892px) and (max-width:1041px){
    #small{
        display: none;
    }

#mainGrid{
  
    grid-template-columns:  1fr;
    gap: 20px;
    }
    
} */

@media all and (min-width:479px) and (max-width:891px) {

    #small{
        display: none;
    }
    .paradiv{
        display: none;
       }
    #mainGrid{
  
        grid-template-columns:  1fr;
        gap: 20px;
        }

    *{
        box-sizing: border-box;
    }
    html, body {
        /* overflow-y: hidden; */
        height: 100%;
    }
    body {
      font-family: 'Varela Round', sans-serif;
        background: #fff;
        padding: 0;
        margin: 0;
    }
    #navbar2{
        background-color: white;
        width: 100%;
        
    }
    #newsnavbar p{
        font-size: 16px;
    }
    #newsnavbar{
        width: 580px;
        font-size: 16px;
      
        /* border: 1px solid red; */
    }
    #big>div>div{
        font-size: 14px;
    }
    #newsnavbar>p{
      
        font-size: 11px;
        align-items: baseline;
    }
    #newsnavbar>div>img{
        height: 60%;
        /* border: 1px solid red; */
        margin-top: 0;
      
    }
    h1{
        text-align: center;
        /* padding-top: 30px; */
    }
    .header {
        /* background-color: white; */
        width: 100%;
        height: 60px;
        position: fixed;
        z-index: 10;
    }
    .main {
        height: 100%;
        margin-top: 60px;
        padding: 10px 50px;
    }
    #sidebarMenu {
        height: 50%;
        overflow: scroll;
        position: fixed;
        left: 0;
        top: 0;
        width: 250px;
        margin-top: 80px;
        transform: translateY(-640px);
        transition: transform 250ms ease-in-out;
        background: #b7b9bb;
      
    }
    .menu{
      list-style: none; 
        margin:0;
        padding:0;
    }
    .menu li{
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }
    .menu li a{
        color: black;
        display: block;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 400;
        text-decoration: none;
    }
    #openSidebarMenu:checked ~ #sidebarMenu {
        transform: translateY(0);
    }
    
    input#openSidebarMenu{
        display: none;
    }
    .sidebarIconToggle {
      height: 22px;
        width: 22px;
        position: absolute;
        z-index: 99;
        top: 60px;
        left: 25px;
        transition: all 0.3s;
        cursor: pointer; 
    }
    .spinner {
        height: 3px;
        background-color: gray;
        transition: all 0.3s;
    }
    .spinner.middle ,
    .spinner.bottom{
        margin-top: 3px;
    }
    #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.middle {
        opacity: 0;
    }
    #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.top {
        transform: rotate(135deg);
        margin-top: 8px;
    }
    #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.bottom {
        transform: rotate(-135deg);
        margin-top: -9px;
    }
    }



    @media all and (max-width:480px){
        #mainGrid{
  
            grid-template-columns:  1fr;
            gap: 20px;
            }
        /* #mainGrid{
  
            grid-template-columns:  1fr;
            gap: 20px;
            font-size: 14px;
            } */
        
        #small{
            display: none;
        }
      
    *{
        box-sizing: border-box;
    }
    html, body {
        /* overflow-y: hidden; */
        height: 100%;
    }
    body {
      font-family: 'Varela Round', sans-serif;
        background: #fff;
        padding: 0;
        margin: 0;
    }
    #navbar2{
        background-color: white;
        width: 100%;
        font-size: 12px;
        
    }
    #newsnavbar{
        width: 580px;
        font-size: 11px;
        /* justify-content: space-between; */
      
        /* border: 1px solid red; */
    }
    #navbar1{
        overflow: scroll;
    }
    #newsnavbar>p{
      
        font-size: 11px;
        align-items: baseline;
        margin-right: 5px;
       
    }
    #newsnavbar>div>img{
        height: 50%;
        /* border: 1px solid red; */
        margin-top: 0;
      
    }
    h1{
        text-align: center;
        padding-top: 30px;
    }
    .header {
        /* background-color: white; */
        width: 100%;
        height: 60px;
        position: fixed;
        z-index: 10;
    }
    .main {
        height: 100%;
        margin-top: 60px;
        padding: 10px 50px;
    }
    #sidebarMenu {
        height: 25%;
        font-size: 10px;
        overflow: scroll;
        position: fixed;
        left: 0;
        top: 0;
        width: 250px;
        margin-top: 80px;
        transform: translateY(-640px);
        transition: transform 250ms ease-in-out;
        background: #b7b9bb;
        border-radius: 2px;
      
    }
    .menu{
      list-style: none; 
        margin:0;
        padding:0;
    }
    .menu li{
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }
    .menu li a{
        color: black;
        display: block;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 200;
        text-decoration: none;
    }
    #openSidebarMenu:checked ~ #sidebarMenu {
        transform: translateY(0);
    }
    
    input#openSidebarMenu{
        display: none;
    }
    .sidebarIconToggle {
      height: 22px;
        width: 22px;
        position: absolute;
        z-index: 99;
        top: 60px;
        left: 25px;
        transition: all 0.3s;
        cursor: pointer; 
    }
    .spinner {
        height: 3px;
        background-color: gray;
        transition: all 0.3s;
    }
    .spinner.middle ,
    .spinner.bottom{
        margin-top: 3px;
    }
    #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.middle {
        opacity: 0;
    }
    #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.top {
        transform: rotate(135deg);
        margin-top: 8px;
    }
    #openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.bottom {
        transform: rotate(-135deg);
        margin-top: -9px;
    }
    #big>h1{
        margin-top: -30px;
    }
    #big{
        font-size: 12px;
        width: 90%;
        margin: auto;
    }
    #big h2{
        display: block;
        font-size: 12px;
    }
    #navbar1, .paradiv{
        display: none;
       }
       .imgdiv{
        /* width: 40%; */
       }
       /* #navbar1{
        display: none;
       } */
       .titlediv{
        text-align: left;
        font-size: 16px;
       }
       #newsnavbar{
        width: 90%;
        height: 50px;
        position: sticky;
        top: 5px;
       }
       #newsnavbar >div>img{
        height: 30%;
       }
    }